@charset "utf-8";
@import "mixins";

.cart-container{
  .center-box{
    border-top: 1px solid #eee;
    margin-top: 10px;
    min-height: 545px;
  }
  .cart-empty{
    display: none;
    margin: 112px auto 0;
    width: 280px;
    .empty-img{
      width: 239px;
      margin: 0 auto;
    }
    .text{
      text-align: center;
      margin-top: 50px;
      font-size: 25px;
      color: #000;
    }
  }
  .cart-goods{
    margin-top: 20px;
    .title{
      background-color: #f4f4f4;
      >div{
        float: left;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: #000;
      }
    }
    .goods-info{
      position: relative;
      width: 456px;
      height: 100%;
      margin-right: 90px;
    }
    .goods-price{
      width: 140px;
    }
    .goods-count{
      width: 160px;
    }
    .goods-total{
      width: 170px;
    }
    .goods-operate{
      width: 180px;
    }
  }
  .goods-choose{
    position: absolute;
    width: 100px;
    height: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 20px;
    input{
      float: left;
      width: 20px;
      height: 20px;
    }
    label{
      float: left;
      margin-left: 15px;
      line-height: 20px;
      font-size: 15px;
      color: #000;
      font-weight: bold;
    }
  }
}
.cart-goods-item{
  height: 140px;
  overflow: hidden;
  border: 1px solid #ececec;
  margin-top: 15px;
  >div{
    float: left;
    text-align: center;
    color: #000;
  }
  .goods-info{
    position: relative;
    .goods-img{
      float: left;
      margin: 15px 20px 0 67px;
      width: 109px;
      height: 109px;
    }
    .goods-text{
      float: left;
      text-align: left;
      position: relative;
      top: 25px;
      width: 250px;
    }
    .goods-name{
      font-size: 15px;
      height: 40px;
      width: 100%;
      @include text-overflow(2);
    }
    .goods-spec{
      margin: 20px 0 3px 0;
      color: #909090;
    }
    .goods-vender{
      color: #909090;
    }
  }
  .goods-price{
    .price-new{
      font-size: 15px;
      margin: 48px 0 5px 0;
      font-weight: bold;
    }
    .price-old{
      color: #909090;
      text-decoration: line-through;
    }
  }
  .goods-count{
    .count-edit{
      margin: 55px auto 0;
      float: none;
      width: 80px;
      height: 18px;
      @include border-radius(0);
      span{
        width: 20px;
        height: 18px;
        line-height: 16px;
        color: #909090;
        background-color: #f4f4f4;
      }
      input{
        height: 18px;
        width: 38px;
      }
    }
  }
  .goods-total{
    font-weight: bold;
    font-size: 15px;
    margin-top: 55px;
  }
  .goods-operate{
    .btn-delete{
      font-size: 15px;
      cursor: pointer;
      margin-top: 55px;
    }
  }
}
.cart-bottom{
  margin-top: 30px;
  border: 1px solid;
  height: 55px;
  .lf{
    position: relative;
    float: left;
    line-height: 55px;
    width: 310px;
    text-align: center;
  }
  .rf{
    float: right;
    height: 55px;
    width: 420px;
    .goods-choosed{
      float: left;
      margin-top: 10px;
      span{
        font-weight: bold;
      }
    }
    .cart-total{
      float: left;
      margin: 5px 0 0 30px;
      span{
        font-size: 18px;
        font-weight: bold;
      }
    }
    .btn-submit{
      float: right;
      height: 55px;
      line-height: 55px;
      cursor: pointer;
      color: #fff;
      font-size: 15px;
      width: 135px;
      text-align: center;
    }
  }
}





























