@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0;}
fieldest,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
capation,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:''}
abbr,acronym{border:0;}
a {
  color: #83868a;
}
a:hover {
  cursor: pointer;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix { *zoom: 1; }
.clearfix:before,
.clearfix:after { display: table;  line-height: 0; content: ""; }
.clearfix:after { clear: both; }

body {
  font-family: "Microsoft yahei";
  color: #83868a;
  background-color: #fff;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #83868a;
}
i, em {
  font-style: normal;
}
.hide{
  display: none;
}
.show{
  display: block;
}
/*消除input type为number的上下角标 */
//火狐下的移除
input[type=number] {
  -moz-appearance:textfield;
}
//谷歌下的移除
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none; /*不使用默认样式右边小XX*/
}
//引入mixins
@import "mixins";
.color{
  color: #f43737!important;
};
.color-border{
  border-color: #f43737!important;
}
.color-bg{
  background-color: #f43737!important;
}
.color-bg-light{
  background-color: lighten(#f43737,5%);
}
//背景公用
%bg-image{
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
}
///*****icons公用*********/
%icons-01{
  background-image: url("../images/sprite-01-new.png");
}
%icons-02{
  background-image: url("../images/sprite-02-new.png");
}
%icons-03{
  background-image: url("../images/member.png");
}
/*页面中所有的背景图标 第一张雪碧图  sprite-01-new */
.phone-service:before {
  @extend %icons-01;
  background-position: 0 0;
}
.cart-icon {
  @extend %icons-01;
  background-position:-30px 0;
}
.close-icon{
  @extend %icons-01;
  background-position:-330px 0;
}
.user-icon {
  @extend %icons-01;
  background-position: -62px -388px;
}
.clock-icon {
  @extend %icons-01;
  background-position: 0 -386px;
}
.huo-icon {
  @extend %icons-01;
  background-position: 0 -90px;
}
.yue-icon {
  @extend %icons-01;
  background-position: -150px -220px;
}
.wechat-icon {
  @extend %icons-01;
  background-position: -70px -90px;
}
.airpay-icon {
  @extend %icons-01;
  background-position: -300px -250px;
}
.bank-icon {
  @extend %icons-01;
  background-position: -110px -90px;
}
.bread-menu a:after {
  @extend %icons-01;
  background-position: -70px -160px;
}
.menu-down {
  @extend %icons-01;
  background-position: -286px -390px;
}
.help-menu-title.active .menu-down {
  @extend %icons-01;
  background-position: -258px -390px;
}
/*页面中所有的背景图标 第二张雪碧图  sprite-02-new */
.speed-i-1 {
  @extend %icons-02;
  background-position:0 -420px;
}
.speed-i-2 {
  @extend %icons-02;
  background-position:-60px -420px;
}
.speed-i-3 {
  @extend %icons-02;
  background-position:-120px -420px;
}
.speed-i-4 {
  @extend %icons-02;
  background-position:-180px -420px;
}
/*页面中所有的背景图标 第三张雪碧图  member.png */
.icon-arrow-right{
  @extend %icons-03;
  background-position: -58px -30px;
}
//其它icons
.home-icon {
  background-image: url("../images/home-icon.png");
}
.icon-more{
  @extend %bg-image;
  background-image: url("../images/icon-more.png");
}
.icon-success{
  background-image: url("../images/icon-success.png");
}
.icon-error{
  background-image: url("../images/icon-error.png");
}
.icon-loading{
  background-image: url("../images/icon-loading.gif");
}
.icon-server{
  @extend %bg-image;
  background-image: url("../images/icon-server.png");
}
.icon-order{
  @extend %bg-image;
  background-image: url("../images/icon-order.png");
}
.icon-order-02{
  @extend %bg-image;
  background-image: url("../images/icon-order-02.png");
}
.icon-arrow-round-b{
  @extend %bg-image;
  background-image: url("../images/icon-arrow-round-b.png");
}
.icon-cart-2{
  @extend %bg-image;
  background-image: url("../images/icon-cart-2.png");
}
.icon-corner{
  @extend %bg-image;
  background-image: url("../images/icon-corner.png");
}
.icon-prompt{
  @extend %bg-image;
  background-image: url("../images/icon-prompt.png");
}
.icon-person{
  @extend %bg-image;
  background-image: url("../images/icon-person.png");
}
.icon-more-d{
  @extend %bg-image;
  background-image: url("../images/icon-more-d.png");
}
/*
* swiper 图片展示
*/
.banner-swiper {
  position: relative;
  height: 450px;
  width: 100%;
}
/*swiper 公用*/
.swiper-container {
  width: 100%;
  height: 100%;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    /*    -webkit-align-items: center;
        align-items: center;*/
  }
  .swiper-pagination-bullet{
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(4,170,88);
  }
}
/*swiper-container-1*/
.swiper-container-1{
  .swiper-center-ctrl {
    position: absolute;
    width: 820px;
    height: 450px;
    left: 50%;
    margin-left: -410px;
    top:0;
    .swiper-button-next {
      right: 0;
      width: 28px;
      height: 53px;
      background: url(../images/next.png);
    }
    .swiper-button-prev {
      left: 0;
      width: 28px;
      height: 53px;
      background: url(../images/prev.png);
    }
  }
}
.swiper-container-2{
  .swiper-button-next{
    width: 36px;
    height: 36px;
    background: url(../images/round-arrow-right.png)
  }
  .swiper-button-prev{
    width: 36px;
    height: 36px;
    background: url(../images/round-arrow-left.png)
  }
}
/*头部 共用样式 一 */
.section-1 {
  width: 100%;
  height:36px;
  border-bottom: 1px solid #eeeeee;
  background-color: #f5f5f5;
  line-height: 36px;
  .top-layout {
    position: absolute;
    right: -15px;
    line-height: 36px;
    span {
      float:left;
      display: block;
      padding:0 15px;
    }
  }
  h3 {
    position: absolute;
    left: 0;
    line-height: 36px;
  }
  .phone-service {
    position: relative;
  }
  .phone-service:before {
    display: block;
    content:"";
    width: 15px;
    height: 15px;
    float: left;
    margin: 12px 10px 0 0;
  }
}
.center-box {
  width:1200px;
  margin: 0 auto;
  position: relative;
}
/*头部  logo 区域 共用样式 一 */
.section-2 {
  width: 100%;
  height: 100px;
  background-color: #fff;
  #logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 175px;
    height: 100px;
  }
  .search-sec {
    width: 820px;
    position: absolute;
    right: 0;
    top: 22px;
  }
}
.search-form {
  width: 550px;
  position: relative;
  .search-input {
    width: 428px;
    padding-left: 30px;
    height: 33px;
    line-height: 33px;
    border:2px solid;
    border-radius:2px 0 0 2px;
    float:left;
    color: #bcbfc8;
    font-size: 14px;
    outline:none;
    background: url(../images/search-icon.png) no-repeat 10px center;
  }
  .search-btn {
    width: 88px;
    height: 37px;
    font-size: 14px;
    text-indent: 23px;
    border:none;
    color: #fff;
    border-radius:0 2px 2px 0;
    cursor: pointer;
    outline: none;
    background: url(../images/search-icon2.png) no-repeat 16px center;
  }
}
.search-menu {
  margin-top: 8px;
  width: 100%;
  position: absolute;
  left: -15px;
  a {
    padding: 0 15px;
    border-right: 1px solid #d7d7d7;
    &:last-child {
      border:none;
    }
  }
}
.search-sec{
  .cart {
    position: absolute;
    right: 0;
    width: 122px;
    height: 34px;
    border: 1px solid #e0e0e0;
    top: 0;
    border-radius: 2px;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    &:hover {
      cursor: pointer;
    }
    .cart-icon {
      position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      float:left;
      top: 9px;
      left: 12px;
    }
    span {
      padding-left: 12px;
      em {
        color: #f67a00;
        font-weight: bold;
        padding-left:5px;
      }
    }
    .go-icon {
      display: block;
      position: absolute;
      width: 5px;
      height: 8px;
      right: 10px;
      top: 50%;
      margin-top: -4px;
    }
  }
}
.section-3-menu {
  position: relative;
  margin-bottom: 20px;
}
/*
* 水平菜单栏
*/
.home-menu {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border-bottom: 2px solid;
}
.home-center-ctrl {
  width: 1200px;
  margin:0 auto;
  position: relative;
}
.home-menu-inner {
  position: absolute;
  left: 190px;
  top:0;
  a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
    width: 144.2px;
    text-align: center;
    line-height: 40px;
    display: block;
    float: left;
    box-sizing: border-box;
    &.active{
      color: #f43737;
    }
  }
  .hover-move {
    width: 80px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.46);
    display: block;
    position: absolute;
    bottom: 0;
    left: 32px;
  }
}
/*
* 折叠菜单
*/
.menu-all-icon {
  background-image: url(../images/sprite-01-new.png);
  background-position: 0px -30px;
}
.menu-zxyp-icon {
  background-image: url(../images/sprite-01-new.png);
  background-position: -24px -30px;
}
.menu-ylqx-icon {
  background-image: url(../images/sprite-01-new.png);
  background-position: -57px -30px;
}
.menu-zyyp-icon {
  background-image: url(../images/sprite-01-new.png);
  background-position: -89px -30px;
}
.menu-bjsp-icon {
  background-image: url(../images/sprite-01-new.png);
  background-position: -118px -30px;
}
.menu-jjry-icon {
  background-image: url(../images/sprite-01-new.png);
  background-position: -147px -30px;
}
.menu-zbp-icon {
  background-image: url(../images/sprite-01-new.png);
  background-position: -177px -30px;
}
.menu-cryp-icon {
  background-image: url(../images/sprite-01-new.png);
  background-position: -208px -30px;
}
.menu-ykyy-icon {
  background-image: url(../images/sprite-01-new.png);
  background-position: -240px -30px;
}
.more-icon {
  background-image: url(../images/sprite-01-new.png);
  background-position: -279px -30px;
}
.go-icon {
  background-image: url(../images/sprite-01-new.png);
  background-position: -90px 0px;
}
/*鼠标移动的状态*/
.show-list.active .menu-li {
  .menu-zxyp-icon {
    background-image: url(../images/sprite-01-new.png);
    background-position: -24px -60px;
  }
  .menu-ylqx-icon {
    background-image: url(../images/sprite-01-new.png);
    background-position: -57px -60px;
  }
  .menu-zyyp-icon {
    background-image: url(../images/sprite-01-new.png);
    background-position: -89px -60px;
  }
  .menu-bjsp-icon {
    background-image: url(../images/sprite-01-new.png);
    background-position: -118px -60px;
  }
  .menu-jjry-icon {
    background-image: url(../images/sprite-01-new.png);
    background-position: -147px -60px;
  }
  .menu-zbp-icon {
    background-image: url(../images/sprite-01-new.png);
    background-position: -177px -60px;
  }
  .menu-cryp-icon {
    background-image: url(../images/sprite-01-new.png);
    background-position: -208px -60px;
  }
  .menu-ykyy-icon {
    background-image: url(../images/sprite-01-new.png);
    background-position: -240px -60px;
  }
  .more-icon {
    background-image: url(../images/sprite-01-new.png);
    background-position: -279px -60px;
  }
}
.menu-zhedie {
  width: 190px;
  position: absolute;
  top: 0;
  left: 0;
  z-index:10;
}
.show-content {
  width:190px;
  margin-top: 2px;
  height: 450px;
}
.show-content.active {
  display: none;
}
.showall {
  width: 190px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
  i {
    display: block;
    width: 23px;
    height: 19px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -10px;
  }
}
.show-list {
  position: relative;
  &:hover {
    cursor: pointer;
  }
  &.active .menu-li {
    background-color: #fff;
    color: #036dde;
  }
}
.menu-li {
  display: block;
  width: 100%;
  line-height: 56px;
  height: 56px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  position: relative;
  i {
    display: block;
    width: 23px;
    height: 19px;
    position: absolute;
    left: 19px;
    top: 50%;
    margin-top: -10px;
  }
  em {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 19px;
    top: 50%;
    margin-top: -6px;
  }
}
.show-list-item {
  position: absolute;
  display: none;
  top: 0;
  left: 190px;
  width: 990px;
  height: 420px;
  padding: 20px 0 10px 20px;
  overflow: hidden;
  overflow-y: scroll;
  background-image: url(../images/menubg.jpg);
  .list-item {
    position: relative;
    padding: 20px 40px 0 55px;
    margin-bottom: 10px;
    p{
      position: absolute;
      left: 0;
      top:0;
      font-size: 14px;
      color: #3f3f4d;
    }
    a {
      text-decoration: none;
      color: #83868a;
      font-size: 12px;
      margin-bottom: 5px;
      padding-right: 5px;
      border-right: 1px solid #83868a;
      margin-right: 5px;
      display: block;
      float: left;
      text-align: center;
      &.hot {
        color: #f67a00;
      }
      &:last-child {
        border:none;
      }
    }
  }
}
/*通用底部*/
.footer {
  width: 100%;
  color: #333;
  height: 452px;
  margin-top: 30px;
  position: relative;
  float:left;
  border-top: 1px solid #d4d4d4;
  .main-center {
    width: 1200px;
    margin:0 auto;
    .brand-list {
      height: 104px;
      border-bottom: 1px solid #eee;
      .brand-item {
        width: 200px;
        float: left;
        margin-top: 28px;
        i {
          display: block;
          width: 34px;
          height: 39px;
          float:left;
          margin-right: 15px;
          margin-left: 5px;
        }
        h3 {
          font-size: 16px;
          font-weight: bold;
        }
        span {
          font-size: 12px;
          color: #a2a2a2;
          padding-top: 8px;
          display: block;
        }
      }
    }
    .footer-bottom {
      position: relative;
      .ft-menus {
        width: 750px;
        float:left;
        margin-top: 40px;
        padding-right: 43px;
        border-right:1px solid #eee;
        margin-right: 70px;
        margin-left: 25px;
        .ft-menu {
          width: 150px;
          float: left;
          h3 {
            font-size: 15px;
            padding-bottom: 10px;
            font-weight: bold;
          }
          a {
            display: block;
            color: #333;
            line-height: 24px
          }
        }
      }
      .ft-ewm {
        float:left;
        margin-top: 32px;
        position: absolute;
        right: 0;
        .ft-ewm-item {
          width: 106px;
          float:left;
          text-align: center;
          margin-left: 40px;
          span {
            display: block;
            padding-bottom: 15px
          }
        }
      }
    }
  }
  .copyright {
    width: 100%;
    position: absolute;
    bottom: 0;
    height:100px;
    text-align: center;
    padding-top: 20px;
    color: #333;
    border-top: 5px solid;
    .cr-menu{
      a {
        color: #333;
        padding:0 15px;
        border-right: 1px solid #eee;
        &:last-child {
          border:none;
        }
      }
    }
    p {
      padding-top: 15px;
    }
  }
}
.qwry-icon{
  @extend %bg-image;
  background-image: url("../images/icon-qwry.png");
}
.ppsq-icon{
  @extend %bg-image;
  background-image: url("../images/icon-ppsq.png");
}
.zgbz-icon{
  @extend %bg-image;
  background-image: url("../images/icon-zgbz.png");
}
.yprz-icon{
  @extend %bg-image;
  background-image: url("../images/icon-yprz.png");
}
.thwy-icon{
  @extend %bg-image;
  background-image: url("../images/icon-thwy.png");
}
.sybz-icon{
  @extend %bg-image;
  background-image: url("../images/icon-sybz.png");
}
//首页商品样式
.product-item{
  p{
    padding: 0 5px;
    color: #333;
    font-size: 15px;
    text-align: left;
  }
  .product-price{
    color: #d93c27;
  }
}
//数量编辑
.count-edit{
  float: left;
  width: 145px;
  height: 35px;
  border: 1px solid #c6c6c6;
  @include border-radius(5px);
  span{
    float: left;
    width: 40px;
    height: 35px;
    cursor: pointer;
    line-height: 32px;
    font-size: 20px;
  }
  input{
    float:left;
    width: 60px;
    height: 35px;
    border: 0;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    text-align: center;
    outline: none;
  }
}
//分页样式
.page-list {
  margin: 40px auto;
  width: 370px;
  span {
    display: block;
    width: 58px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    float:left;
    border:1px solid #e0e0e0;
    cursor: pointer;
    &.prev-page {
      margin-right: 10px;
    }
  }
  a {
    display: block;
    width: 28px;
    height: 28px;
    border:1px solid #e0e0e0;
    float:left;
    margin-right: 10px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    &.active{
      color: #fff;
    }
  }
}
//模态框
.modal-page{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2000;
  display: none;
  .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
  }
}
//面包屑导航
.bread-menu {
  width: 1200px;
  margin: 15px auto 0;
  i {
    display: block;
    width:14px;
    height: 11px;
    float:left;
    margin-right: 10px;
    margin-top:3px;
  }
  a {
    padding: 0 5px;
    span {
      float: left;
    }
    &:after {
      content: "";
      width: 5px;
      height: 8px;
      display: block;
      float:left;
      margin: 5px 10px 0;
    }
    &:last-child:after {
      background:none;
    }
  }
}
//提示框
.common-tips{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: none;

  .content{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    width: 200px;
    padding: 0 20px 0 85px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    em{
      position: absolute;
      margin: auto;
      top:0;
      bottom: 0;
      left: 25px;
      display: inline-block;
      width: 38px;
      height: 38px;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: contain;
      background-size: contain;
    }
    .text{
      display: inline-block;
      font-size: 20px;
      line-height: 60px;
    }
  }
}

/** 联想框 */
#search-lenovo-bot{
  width:460px;
  border: 1px solid #f43737;
  border-top: none;
  display: none;
  z-index:999;
  background-color: white;
  position: relative;
  ul{
    li{
      list-style: none;
      line-height: 25px;
      padding-left: 10px;
      &:hover{
        background: #f43737;
      }
    }
  }
}
/** 联想框 */
/** 没有结果 */
.no-order {
  text-align: center;
  font-size: 20px;
  color: #999;
  line-height: 300px;
}
/** 没有结果 */

/*********限购图标***********/
.goods-info{
  position: relative;
}
.icon-xiangou2{
  position: absolute;
  width: 44px;
  height: 18px;
  background: url("../images/restrictions_icon.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  left: 120px;
  bottom: 5px;
}




















