@charset "utf-8";
@import "mixins";

.product-show-sec {
  width: 1200px;
  margin: 40px auto 0;
  position: relative;
}

.product-show-lf {
  width: 402px;
  float: left;
  height: 474px;
  #magnifier {
    position: relative;
    width: 402px;
  }
  .store-gooods {
    position: absolute;
    right: 13px;
    top: 380px;
    width: 134px;
    padding-left:30px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #676767;
    border-top: 1px dashed #d2d2d2;
    border-bottom: 1px dashed #d2d2d2;
    &:hover {
      cursor: pointer;
    }
    &:before {
      content: "";
      display: block;
      width: 19px;
      height: 19px;
      background-image: url(../images/sprite-01-new.png);
      background-position:-109px -249px;
      float:left;
      margin: 15px 10px 0 0;
    }
    &.active:before {
      content: "";
      display: block;
      width: 19px;
      height: 19px;
      background-image: url(../images/sprite-01-new.png);
      background-position:-258px -340px;
      float:left;
      margin: 15px 10px 0 0;
    }
  }
  .small-box {
    position: relative;
    width: 100%;
    height: 380px;
    margin-bottom: 28px;
    img {
      width: 100%
    }
    .hover {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 200px;
      height: 200px;
      border: 1px solid #aaa;
      background: #0099ff;
      opacity: .5;
      cursor: move;
    }
  }
  .thumbnail-box {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 66px;
    overflow: hidden;
    .btn {
      position: absolute;
      width: 35px;
      height: 66px;
      display: block;
      z-index: 999;
    }
    .btn-prev {
      left: 0;
      background: url(../images/prev-btn.jpg) no-repeat;
    }
    .btn-next {
      right: 0;
      background: url(../images/next-btn.jpg) no-repeat;
    }
    .list {
      overflow: hidden;
      width: 402px;
      margin: 0 auto;
      position: absolute;
      left: 41px;
      .item {
        float: left;
        margin: 0 7px;
        &:hover{
          cursor: pointer;
        }
        img {
          border:1px solid #dcdcdc;
        }
      }
      .item-cur{
        img {
          border:1px solid #e53e41;
        }
      }
    }
    .wrapper {
      width: 100000px;
    }
  }
  .big-box {
    display: none;
    overflow: hidden;
    position: absolute;
    z-index:3;
    left: 402px;
    top: 0;
    width: 540px;
    height: 407px;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    img {
      display: block;
    }
  }
}

.product-show-rt {
  width: 470px;
  padding-left: 40px;
  float:left;
  position: relative;
  h2 {
    font-size: 22px;
    color:#222222;
  }
  .product-price {
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
    margin-top: 12px;
    padding:15px 0 15px 10px;
    font-size: 14px;
    float:left;
    width: 100%;
  }
  .lable {
    font-size: 14px;
    color: #666666;
  }
  .product-price{
    .price-num {
      padding:0 30px 0 15px;
      font-size: 16px;
      color: #ed4529;
      font-weight:bold;
      strong {
        font-size: 24px;
        font-weight:bold;
      }
    }
    .old-price {
      color:#999;
      em {
        text-decoration: line-through
      }
    }
  }

  .product-infor {
    font-size: 14px;
    padding-left: 10px;
    color: #222;
    width: 100%;
    float:left;
    .lable {
      padding-right: 20px;
      float:left;
    }
    .vender,.pzwh,.size,.goods-num,.quantity,.wx-tips {
      padding-top: 23px;
      width: 100%;
      float:left;
    }
    .wx-tips{
      font-size: 13px;
      color: #bbb;
      p{
        line-height: 20px;
      }
      span{
        color: #e57002;
      }
    }
  }

  .quantity-add {
    width: 120px;
    height: 28px;
    float:left;
    .add {
      display: block;
      width: 28px;
      height: 26px;
      border:1px solid #e0e0e0;
      background-color: #f5f5f5;
      color: #999999;
      font-size: 20px;
      text-align: center;
      line-height: 24px;
      float:left;
      font-weight: bold;
    }
    em {
      cursor: pointer;
    }
    .quantity-input {
      float:left;
      width: 60px;
      display: block;
    }
    .num {
      width: 60px;
      height:26px;
      border:1px solid #e0e0e0;
      border-left: none;
      border-right: none;
      text-align: center;
      color: #222222;
    }
    .min {
      display: block;
      width: 28px;
      height: 26px;
      border:1px solid #e0e0e0;
      background-color: #f5f5f5;
      color: #999999;
      font-size: 20px;
      text-align: center;
      line-height: 24px;
      float:left;
      font-weight: bold;
    }
  }

  .btns{
    float: left;
    margin-top: 35px;
    button{
      float:left;
      width: 186px;
      height: 52px;
      cursor: pointer;
      font-size: 20px;
      line-height: 45px;
      text-align: center;
      font-weight: bold;
      margin-right: 25px;
      outline: none;
    }
    .buy-btn-1 {
      border:2px solid #ed4529;
      color: #ed4529;
      background-color: #fff;
      margin-left: 10px;
    }
    .buy-btn-2 {
      background-color: #ed4529;
      color: #fff;
      border:none;
    }
  }
}

.product-detail{
  .center-box{
    margin-top: 20px;
    border-top: 1px dashed #b1b1b1;
    padding-top: 20px;
  }
  .product-detail-lf {
    float: left;
    width: 180px;
    margin-right: 25px;
  }
  .they-care {
    width:100%;
    border:1px solid #e5e6eb;
    h3 {
      background-color: #e5e6eb;
      height: 38px;
      line-height: 38px;
      color: #222;
      font-size: 16px;
      font-weight: bold;
      position: relative;
      padding-left: 12px;
    }
    .goods-cm-item {
      width: 100%;
      border-right:none;
      border-bottom: 1px solid #e5e6eb;
      padding-bottom: 20px;
      cursor: pointer;
      text-align: center;
      &:last-child{
        border-bottom: 0;
      }
      i{
        img{
          width: 110px;
          height: 110px;
          margin: 20px 20px;
        }
      }
      p{
        padding: 0 10px;
        text-align: center;
        color: #333;
      }
    }
  }
  .product-detail-rf{
    float: left;
    width: 995px;
    .title{
      background-color: #e5e6eb;
      height: 38px;
      line-height: 38px;
      color: #222;
      font-size: 16px;
      font-weight: bold;
      position: relative;
      padding-left: 12px;
    }
  }
}






















