@charset "utf-8";
img{
  max-width: 100%;
  max-height: 100%;
}
%icons-list{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-list-white{
  @extend %icons-list;

}
.icon-list-red{
  @extend %icons-list;
  background-image: url("../img-180508/icon-list-red.png");
  width: 10px;
  height: 10px;
}
.icon-table-white{
  @extend %icons-list;
  background-image: url("../img-180508/icon-table-white.png");
  width: 10px;
  height: 10px;
}
.icon-table-red{
  @extend %icons-list;
  background-image: url("../img-180508/icon-table-red.png");
  width: 10px;
  height: 10px;
}
.nav-bread{
  font-size: 15px;
  color: #3f3f4d;
  .bread-item{
    &:not(:last-child){
      margin-right: 5px;
      &:after{
        content: '>';
        display: inline-block;
        color: #3f3f4d;
        margin-left: 10px;
      }
    }
    &:hover{
      color:#ed4529;
    }
  }
}

.goods-list-container-new{
  .search-condition{
    margin-top: 10px;
    border: 1px solid #ddd;
    .condition-item{
      &:not(:last-child){
        border-bottom: 1px solid #ddd;
      }
    }
    .item-type{
      width: 120px;
      text-align: center;
      background-color: #fafafa;
      font-size: 14px;
      color: #777777;
    }
    .item-choose{
      position: relative;
      padding: 15px 65px 0 15px;

      .choose-list{
        white-space: nowrap;
        overflow: hidden;
        height: 27px;

        &.active{
          height: auto;
        }
      }
      a{
        float: left;
        font-size: 13px;
        color: #656565;
        margin: 0 15px 10px 0;
        &:hover{
          color: #ed4529;
        }
      }
      &.brands-choose{
        .choose-list{
          height: 61px;
          img{
            border: 1px solid #ddd;
          }
          &.active{
            height: auto;
          }
        }
      }
      &.price-choose{
        .price-input{
          float: left;
          input{
            float: left;
            width: 37px;
            height: 20px;
            border: 1px solid #bfbfbf;
            text-align: center;
          }
          span{
            float: left;
            margin: 2px 5px;
          }
          button{
            width: 40px;
            height: 22px;
            text-align: center;
            line-height: 22px;
            background-color: #f7f7f7;
            border: 1px solid #bfbfbf;
            margin-left: 5px;
          }
        }
      }

      //收起按钮
      .btn-take-up{
        position: absolute;
        top:15px;
        right:30px;
        cursor: pointer;
        &:after{
          content: '';
          display: inline-block;
          position: absolute;
          top:6px;
          right:-15px;
          border: 5px solid transparent;
          border-top-color: #ed4529 ;
        }
        &.active{
          &:after{
            top:0;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  //查询显示
  .goods-show{
    position: relative;
    padding-bottom: 80px;
    min-height: 800px;
  }
  .show-title{
    margin: 10px 0 5px;
    height: 40px;
    line-height: 40px;
    border: solid 1px #dddddd;
    padding: 0 10px;
  }
  //显示方式
  .show-type{
    float: left;
    font-size: 13px;
    color: #3f3f4d;
    span{
      float: left;
    }
    .types{
      float: left;
      margin: 5px;
      height: 27px;
      line-height: 27px;
      border: solid 1px #ff0000;
    }
    .type-item{
      width: 52px;
      text-align: center;
      cursor: pointer;
      text-indent: 10px;
      background-repeat: no-repeat;
      -webkit-background-size: 10px 10px;
      background-size: 10px 10px;
      background-position: 5px center;
      //
      &.active{
        background-color: #ff0000;
        color: #fff;
      }
      &.type-list{
        background-image: url("../img-180508/icon-list-red.png");
        &.active{
          background-image: url("../img-180508/icon-list-white.png");
        }
      }
      &.type-table{
        background-image: url("../img-180508/icon-table-red.png");
        &.active{
          background-image: url("../img-180508/icon-table-white.png");
        }
      }
    }
  }
  //排序方式
  .sort-type{
    float: left;
    margin: 7px 0 0 75px;
    border: 1px solid #f43737;
    .sort-item{
      float: left;
      width: 45px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      font-size: 13px;
      color: #757575;
      cursor: pointer;
      &:not(:last-child){
        border-right: 1px solid #f43737;
      }
      &.active,&:hover{
        background-color: #f43737;
        color: #fff;
        text-indent: -10px;
        background-repeat: no-repeat;
        -webkit-background-size: 10px 10px;
        background-size: 10px 10px;
        background-position: 33px center;
        background-image: url("../img-180508/icon-price-down.png");
      }
    }
  }
  //只看有货
  .btn-stock{
    float: left;
    margin: 8px 0 0 15px;
    width: 84px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: solid 1px #ddd;
    cursor: pointer;
    label{
      display: inline-block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    input{
      float: left;
      position: relative;
      margin: 5px 0 0 10px;
      width: 14px;
      height: 14px;
      &[type='checkbox']{
        background-color: #fff;
        -webkit-appearance:none;
        border: 1px solid #c9c9c9;
        border-radius: 2px;
        outline: none;
        &:checked{
          border-color: #f43737;
          background: url("../img-180508/icon-selected-red.png")no-repeat center;
        }
      }
    }
    &.active{
      border-color: #f43737;
    }
  }
  .title-right{
    float: right;
    .goods-total{
      float: left;
      font-size: 12px;
      color: #757575;
      span{
        color: #ed4529;
      }
    }
    .line-v{
      float: left;
      margin: 5px 10px;
      height: 30px;
      border-left: solid 1px #c0bfbf;
    }
    .goods-pages{
      float: left;
      .pages-now{
        margin: 0 5px;
        small{
          color: #ed4529;
        }
      }
      .btn{
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 19px;
        border: solid 1px #c0bfbf;
        margin-left: 5px;
        cursor: pointer;
        &:hover{
          color: #ed4529;
          border-color: #ed4529;
        }
      }
    }
  }

  .show-goods-content{
    .goods-item{
      position: relative;
      cursor: pointer;
      color: #535353;
      &:hover{
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2px);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2px);
      }
      .btn-collection{
        float: right;
        font-size: 12px;
        margin-top: 6px;
        color: #535353;
        padding-left: 18px;
        background-position: left center;
        background-repeat: no-repeat;
        -webkit-background-size: 13px 13px;
        background-size: 13px 13px;
        background-image: url(../img-180508/icon-star-white.png);
        &.active{
          background-image: url(../img-180508/icon-star-red.png);
        }
      }
    }
    //表格样式
    &.show-table{
      &:after{
        content: '';
        display: block;
        clear: both;
      }
      .goods-item{
        float: left;
        margin: 15px 22px 0 0;
        width: 220px;
        height: 326px;
        border: solid 1px #ececeb;

        &:hover{
          box-shadow: 0 0 10px rgba(255, 149, 149, 0.35);
          border: solid 1px #ffbbbb;
        }
        &:nth-child(5n){
          margin-right: 0;
        }
        //隐藏列表项目
        .list-left{
          display: none;
        }
        .show-active{
          display: none;
        }

        .middle-right{
          display: none !important;
        }

        .item-spec{
          display: none;
        }
      }
      .item-img{
        width: 130px;
        height: 130px;
        margin: 25px auto;
        text-align: center;
        line-height: 130px;
      }
      .item-detail{
        padding: 0 5px 5px;
      }
      .item-price{
        margin-bottom: 5px;
        .price{
          float: left;
          font-size: 14px;
          color: #535353;
          span{
            font-size: 18px;
            color: #f43737;
            small{
              font-size: 14px;
            }
          }
        }
      }
      .item-stock{
        font-size: 14px;
        margin-bottom: 5px;
      }
      .item-name{
        display: -webkit-box;
        height: 35px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp:2;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        word-break: break-all;
        margin-bottom: 5px;
      }
      .item-operation{
        position: absolute;
        right:5px;
        left: 5px;
        bottom: 10px;
        .count-edit{
          width: auto;
          height: auto;

          span{
            text-align: center;
            width: 35px;
            height: 30px;
            line-height: 30px;
          }
          input{
            width: 55px;
            height: 30px;
            line-height: 30px;
          }
        }
        .btn-add-cart{
          float: right;
          width: 75px;
          height: 30px;
          background-color: #ed4529;
          color: #fff;
          font-size: 13px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          text-align: center;
          line-height: 30px;
        }
      }
    }
    //列表样式
    &.show-list{

      .goods-item{
        padding: 5px;
        border-bottom: 1px solid rgba(217, 217, 216, 0.5);

        &:after{
          content: '';
          display: block;
          clear: both;
        }
        .item-img{
          float: left;
          width: 100px;
          height: 100px;
          img{
            max-width: 100%;
          }
        }
        .item-detail{
          float: left;
          position: relative;
          width: 1050px;
          margin-left: 40px;
          padding-top: 30px;
          .show-active{
            margin-bottom: 10px;
            span{
              font-size: 13px;
              padding: 3px 12px;
              color: #ffffff;
              background-color: #f56e6e;
              border-radius: 3px;
            }

          }

          .item-name{
            position: absolute;
            top:0;
            left: 0;
            font-size: 16px;
            color: #535353;
            width: 900px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .btn-collection{
            position: absolute;
            right:0;
            top: 0;
          }
          .list-left{
            float: left;
            width: 525px;
            font-size: 13px;
            >div{
              margin-bottom: 5px;
              pre{
                font-family: "Microsoft YaHei";
                font-size: 13px;
                color: #535353;
                display: inline-block;
                margin-right: 5px;
              }
            }
            .item-pack{
              padding: 3px 12px;
              color: #fff;
              background-color: #aaa9a9;
              border-radius: 2px;
            }
          }
          .list-right{
            float: left;
            font-size: 13px;
            color: #535353;

            .middle-left{
              float: left;
              width: 180px;
            }
            .middle-right{
              float: left;
            }
            .item-price{
              margin-bottom: 5px;
              line-height: 25px;
              .price{
                span{
                  font-size: 18px;
                  color: #f43737;
                  small{
                    font-size: 13px;
                  }
                }
              }
            }
            .item-spec{
              margin-bottom: 5px;
            }
            .item-stock-detail{
              margin-bottom: 5px;
            }
            .item-operation{
              position: absolute;
              width: 145px;
              bottom: 10px;
              right: 0;
              text-align: center;
              .btn-add-cart{
                float: left;
                width: 145px;
                text-align: center;
                height: 28px;
                line-height: 28px;
                color: #fff;
                background-color: #f43737;
                border-radius: 4px;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }

  .list-pages{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    &:after{
      content: '';
      display: block;
      clear: both;
    }
    >span{
      float: left;
      font-size: 16px;
      border: 1px solid #ccc;
      padding: 4px 10px;
      color: #3a3a45;
      cursor: pointer;
    }
  }
  .btn-prev{
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 10px;
  }
  .btn-next{
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
  }
  .pages-num{
    float: left;
    text-align: center;
    margin-right: 10px;
    li{
      float: left;
      a{
        display: inline-block;
        font-size: 16px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: #3a3a45;
        &.border{
          border: 1px solid #ccc;
          border-right-color: transparent;

          &:hover{
            color: #fff;
            background-color: #f43737;
            border-color: #f43737;
          }
        }
        &.active{
          color: #fff;
          background-color: #f43737;
          border-color: #f43737;
        }
        &.border-ellipsis{
          height: 32px;
          border-left: 1px solid #ccc;
          cursor: default;
        }
      }
      &:last-child{
        a{
          border-right-color: #ccc;
        }
      }
    }
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }
}
//显示大图
.show-goods-content{
  &.show-list{
    .item-img-big{
      //display: none;
      position: absolute;
      background-color: #fff;
      z-index: 10;
      left: 145px;
      top: 0;
      border: 1px solid #eee;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
    }
  }
  &.show-table{
    .item-img-big{
      display: none;
    }
  }
}
.goods-item{
  .item-img{
    position: relative;
  }
  .term-validity{
    position: absolute;
    width: 100%;
    min-width: 115px;
    text-align: center;
    bottom: -20px;
    height: 20px;
    line-height: 20px;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    white-space: nowrap;
    max-width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

















