@charset "utf-8";
@import "mixins";

.goods-list-container{
  .list-title{
    border-bottom: 1px solid #d4d4d4;
    p{
      float: left;
      text-align: center;
      font-size: 16px;
      color: #333;
      font-weight: bold;
      padding-bottom: 10px;
    }
  }
  .goods-info{
    width: 315px;
  }
  .goods-spec{
    width: 155px;
  }
  .goods-pzwh{
    width: 170px;
  }
  .goods-memprice{
    width: 176px;
  }
  .goods-operate{
    width: 350px;
  }
  .list-content{
    .list-item{
      height: 118px;
      border-bottom: 1px solid #eee;
      >div{
        float: left;
        text-align: center;
        font-size: 15px;
        color: #333;
        word-wrap: break-word;
        @include box-sizing(border-box);
        padding: 0 5px;
      }
      .goods-info{
        float: left;
        margin-top: 15px;
        height: 88px;
        padding-left: 10px;
        @include box-sizing(border-box);
        .goods-img{
          float: left;
          width: 88px;
          height: 87px;
          border: 1px solid #d4d4d4;
          margin-right: 20px;
          overflow: hidden;
          img{
            max-width: 75px;
            height: 75px;
            margin: 5px;
          }
        }
        p{
          font-size: 15px;
          text-align: left;
        }
        .goods-name{
          color: #333;
          width: 190px;
          margin-top: 20px;
          @include text-overflow(2);
        }
        .goods-vender{
          color: #959595;
          width: 190px;
          @include text-overflow(1);
        }
      }
      .goods-spec{
        margin-top: 35px;
      }
      .goods-pzwh{
        margin-top: 35px;
      }
      .goods-memprice{
        margin-top: 35px;
      }
      .goods-operate{
        margin-top: 35px;
        .count-edit{
          margin-left: 15px;
        }
        .goods-add{
          float: left;
          width: 145px;
          height: 35px;
          margin-left: 25px;
          border: 1px solid;
          @include border-radius(5px);
          p{
            height: 35px;
            line-height: 35px;
            float: left;
            cursor: pointer;
          }
          .add-cart{
            width: 90px;
            color: #fff;
          }
          .add-collection{
            width: 55px;
          }
        }
      }
    }
  }
}
//模态框
.modal-page{
  .content{
    position: absolute;
    margin: auto;
    right: 0;
    top:0;
    left: 0;
    width: 370px;
    height: 295px;
    background-color: #fff;
    @include border-radius(10px);
    overflow: hidden;
  }
  .title{
    position: relative;
    width: 100%;
    height: 55px;
    line-height: 55px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    em{
      display: inline-block;
      width: 10px;
      height: 10px;
      cursor: pointer;
      position: relative;
      margin: auto;
      right: -125px;
      top: 0;
      bottom: 0;
    }
  }
  .input-group{
    margin: 20px auto;
    width: 320px;
    height: 40px;
    position: relative;
    input{
      position: absolute;
      width: 100%;
      height: 100%;
      padding-left: 50px;
      @include box-sizing(border-box);
      @include border-radius(3px);
      outline: none;
      border: 1px solid #cdcdcd;
      z-index: 1;
    }
    em{
      position: absolute;
      width: 15px;
      height: 20px;
      z-index: 10;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 18px;
      &:after{
        content: "";
        display: inline-block;
        position: absolute;
        height: 30px;
        top: -4px;
        right: -15px;
        border-right: 1px solid #cdcdcd;
      }
    }
  }
  .btn-submit{
    margin: 30px auto 0;
    width: 320px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    @include border-radius(3px);
    cursor: pointer;
  }
  .btn-apply{
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}






















