@charset "utf-8";
@import "mixins";
.help-wrapper {
  width: 1200px;
  margin: 15px auto 0;
  .help-menu {
    width: 233px;
    border: 1px solid #d2d2d2;
    float:left;
    background-color: #fff;
    border-top:none;
    margin-right:3px;
    .help-menu-title {
      width: 183px;
      height: 38px;
      background-color: #f2f2f2;
      line-height: 38px;
      padding-left: 50px;
      color: #3f3f4d;
      font-size: 14px;
      position: relative;
      border-top: 1px solid #ddd;
      cursor: pointer;
      &.active {
        margin-top: -1px;
        margin-left: -1px;
        border:none;
        color:#fff;
        width: 185px;
        height: 39px;
        background: #f43737;
        .help-m-icon {
          background: url(../images/zdmenu_active.png) no-repeat;
        }
      }
    }
    .help-m-icon {
      position: absolute;
      display: block;
      width: 14px;
      height: 16px;
      left: 20px;
      top: 50%;
      margin-top: -8px;
      background: url(../images/zdmenu_06.png) no-repeat;
    }
    .menu-down {
      position: absolute;
      display: block;
      width: 11px;
      height: 8px;
      right: 20px;
      top: 50%;
      margin-top: -4px;
    }
    .help-menu-list {
      width: 233px;
      a {
        position: relative;
        color: #3f3f4d;
        display: block;
        margin: 0 15px;
        padding-left: 30px;
        font-size:14px;
        line-height: 45px;
        border-bottom: 1px dashed #bcbfc8;
        &:last-child {
          border:none;
        }
        em {
          display: block;
          position: absolute;
          left: 10px;
          top: 20px;
          width: 5px;
          height: 5px;
          background-color: #bcbfc8;
        }
        i {
          display: block;
          width: 5px;
          height: 27px;
          position: absolute;
          background: none;
          left: -16px;
          top: 9px;
        }
        &:hover{
          color:#f43737;
          cursor: pointer;
          em {
            background-color: #f43737;
          }
          i {
            background:#f43737;
          }
        }
      }
    }
  }

  .help-content {
    width: 880px;
    padding: 30px 40px;
    border:1px solid #e6e6e6;
    float:left;
    min-height: 823px;
    background-color: #fff;
    box-shadow: 0 0px 2px rgba(0,0,0,0.2);
    .help-title {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
