@charset "utf-8";
//变量
/***背景公用样式****/
%bg-image{
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
}
.palm-speed {
  width: 164px;
  padding:0 13px;
  background-color: #fff;
  position: absolute;
  right: 0;
  z-index: 2;
  left: 50%;
  margin-left:410px;
  height: 450px;
  top: 42px;
  .speed-menu {
    padding-top:18px;
    span {
      display: block;
      width: 50%;
      text-align: center;
      float:left;
      position: relative;
      height:86px;
      i {
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        left: 50%;
        margin-left: -25.5px;
      }
    }
    em {
      display: block;
      text-align: center;
      top:57px;
      position: absolute;
      width:100%;
    }
  }
  .speed-ewm {
    text-align: center;
    border-top: 1px dashed #bfbfbf;
    position: absolute;
    padding-top:8px;
    font-size: 14px;
    bottom: 0;
    left: 0;
    img{
      float: left;
      width: 100%;
    }
    .rational-use{
      float: left;
      width: 100%;
      height: 181px;
      background-image: url("../images/rational-use.png");
      @extend %bg-image;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
}
/*悬浮搜索产品框*/
.top-search-hide {
  z-index: 99;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  color: #fff;
  display: none;
  background-color: #fff;
  height: 56px;
  border-bottom: 2px solid;
  .top-search-center {
    width: 1200px;
    margin:0 auto;
    position: relative;
  }
  #logo_2 {
    position: absolute;
    left: 0;
    top: 5px;
    display: inline-block;
    height: 46px;
    width: 170px;
    overflow: hidden;
  }
  .cart {
    position: absolute;
    right: 0;
    width: 122px;
    height: 34px;
    border-radius: 2px;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    top: 10px;
    background-color: #fff;
    color: #83868a;
    border: 1px solid #e0e0e0;
    .cart-icon {
      position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      float: left;
      top: 9px;
      left: 12px;
    }
    &:hover {
      cursor: pointer;
    }
    .cart-icon_white {
      position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      float:left;
      top: 9px;
      left: 12px;
    }
    span {
      padding-left: 12px;
      em {
        color: #f67a00;
        font-weight: bold;
        padding-left:5px;
      }
    }
    .go-icon {
      display: block;
      position: absolute;
      width: 5px;
      height: 8px;
      right: 10px;
      top: 50%;
      margin-top: -4px;
    }
  }
  .search-form_2 {
    width: 550px;
    position: absolute;
    right: 263px;
    top: 10px;
    .search-input {
      width: 428px;
      padding-left: 30px;
      height: 33px;
      border:2px solid;
      border-radius:2px 0 0 2px;
      float:left;
      color: #bcbfc8;
      font-size: 14px;
      outline: none;
      background:#fff url(../images/search-icon.png) no-repeat 10px center;
    }
    .search-btn {
      width: 88px;
      height: 37px;
      font-size: 14px;
      text-indent: 23px;
      border:none;
      color: #fff;
      outline: none;
      border-radius:0 2px 2px 0;
      background: url(../images/search-icon2.png) no-repeat 16px center;
    }
  }
}
.section-2 #logo, .top-search-hide #logo_2 {
  @extend %bg-image;
  background-image: url("../images/logo.png");
}
.home-product{
  margin-bottom: 20px;
  .center-box{
    padding: 10px;
    width: 1180px;
    border: 1px solid #eee;
  }
  .top-title{
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    .fr{
      position: relative;
      font-size: 12px;
      padding-right: 20px;
      em{
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: auto;
        top:0;
        right:0;
        bottom:0;
      }
    }
  }
  .row-1{
    border-bottom: 1px solid #eee;
    .item{
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 10px 0;
      padding-left: 10px;
      border-right: 1px solid #eee;
      width: 33%;
      overflow: hidden;
      &:last-child{
        border-right: 0;
      }
    }
  }
}

// 2018-04-11
.home-menu-inner{
  a{
    position: relative;
    &:hover{
      color: #f43737;
    }
  }
  .tag-hot{
    position: absolute;
    top: 0;
    right: 30px;
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url("../images/icon-hot.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }
}