@charset "utf-8";
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?knuoem');
  src:  url('../fonts/icomoon.eot?knuoem#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?knuoem') format('truetype'),
  url('../fonts/icomoon.woff?knuoem') format('woff'),
  url('../fonts/icomoon.svg?knuoem#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-capsule{
  .path1:before {
    content: "\e900";
  }
}
.color-0{color: rgb(253,15,74);}
.color-1{color: rgb(242,145,103);}
.color-2{color: rgb(18,118,248);}
.color-3{color: rgb(10,190,171);}
.color-4{color: rgb(236,24,149);}
.color-5{color: rgb(1,183,14);}
.color-6{color: rgb(243,152,0);}





















