@charset "utf-8";
@import "mixins";

.order-submit{
  .order-top{
    height: 50px;
    .lf{
      float: left;
      margin-top: 23px;
      em{
        float: left;
        width: 15px;
        height: 20px;
      }
      span{
        float: left;
        font-weight: bold;
        font-size: 16px;
        color: #000;
        margin-left: 10px;
      }
    }
    .rf{
      float: right;
      .color-order-1{
        color: #caecad;
        .item-type{
          background-color: #caecad;
          span{
            background-color: #caecad;
          }
        }
      }
      .color-order-2{
        color: #7cb745;
        .item-type{
          background-color: #7cb745;
          span{
            background-color: #7cb745;
          }
        }
      }
      .color-order-3{
        color: #c7c7c7;
        .item-type{
          background-color: #c7c7c7;
          span{
            background-color: #c7c7c7;
          }
        }
      }
      .item{
        float: left;
        width: 155px;
        text-align: center;
        margin-top: 7px;
        .item-type{
          position: relative;
          height: 5px;
          margin-bottom: 15px;
          @include border-radius(3px);
          span{
            color: #fff;
            position: absolute;
            display: inline-block;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-weight: bold;
            font-size: 15px;
            @include border-radius(50%);
          }
        }
      }
    }
  }
  .order-address{
    .content{
      padding: 25px 20px;
    }
    .address-item{
      line-height: 32px;
      font-size: 15px;
      margin-bottom: 10px;
      >p{
        float: left;
      }
      .address-choose{
        position: relative;
        width: 130px;
        height: 28px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        color: #000;
        &.choosed{
          border: 2px solid;
          &:after{
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 14px;
            height: 14px;
            background-image: url("../images/checked.png");
          }
        }
      }
      .address-info{
        padding: 0 50px 0 10px;
        cursor: pointer;
        span{
          float: left;
        }
        &:hover{
          background-color: #fdf1f1;
          .btn-set-default{
            display: inline-block;
          }
          .btn-edit{
            display: inline-block;
          }
        }
      }
      .btn-set-default{
        display: none;
        color: #2554a0;
        margin: 0 30px 0 100px;
        font-size: 12px;
      }
      .btn-edit{
        display: none;
        color: #2554a0;
        font-size: 12px;
      }
      .address-name{
        font-weight: bold;
      }
      .address-detail{
        margin: 0 10px;
        width: 350px;
      }
    }
  }
  .btn-more-address{
    cursor: pointer;
    span{
      float: left;
    }
    em{
      float: left;
      width: 12px;
      height: 12px;
      margin: 2px 0 0 5px;
    }
  }
  .order-title{
    height: 40px;
    line-height: 40px;
    background-color: #f4f4f4;
    border-top: 1px solid #e2e2e2;
    font-size: 15px;
    color: #000;
    margin-top: 20px;
    .fl{
      margin-left: 20px;
      font-weight: bold;
    }
    .fr{
      margin-right: 20px;
    }
    .btn-add-address{
      font-size: 13px;
      color: #2554a0;
      cursor: pointer;
    }
  }
  .modal-page{
    .content{
      width: 470px;
      height: 380px;
    }
  }
}
.order-goods-item{
  position: relative;
  height: 110px;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
  >div{
    float: left;
  }
  .goods-img{
    width: 78px;
    height: 78px;
    border: 1px solid #e2e2e2;
    margin: 15px 20px 0 20px;
    img{
      width: 100%;
    }
  }
  .goods-name{
    margin-top: 36px;
    width: 240px;
    font-size: 15px;
    color: #000;
    @include text-overflow(2);
  }
  .goods-spec{
    margin: 36px 0 0 20px;
    width: 280px;
    font-size: 14px;
  }
  .goods-count{
    width: 350px;
    text-align: center;
    margin-top: 36px;
    font-size: 14px;
    color: #000;
  }
  .goods-total{
    width: 190px;
    text-align: center;
    margin-top: 36px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
  }
}

.new-address-info{
  .input-group{
    margin: 15px 0 0 25px;
    height: auto;
    width: auto;
    label{
      float: left;
      width: 80px;
      height: 30px;
      font-size: 15px;
      line-height: 30px;
      color: #000;
      span{
        margin-right: 10px;
      }
    }
    input{
      float: left;
      margin-left: 20px;
      width: 240px;
      height: 30px;
      padding-left: 10px;
    }
    .selects{
      float: left;
      margin-left: 20px;
    }
    select{
      float: left;
      width: 100px;
      height: 30px;
      outline: none;
      border: 1px solid #cdcdcd;
      text-align: center;
      margin-right: 10px;
      padding-left: 15px;
      @include border-radius(3px);
    }
    textarea{
      margin-left: 20px;
      width: 298px;
      height: 38px;
      border: 1px solid #cdcdcd;
      @include border-radius(3px);
      resize: none;
      padding: 10px;
    }
    input[type='checkbox']{
      float: left;
      width: 20px;
      height: 20px;
      margin-top: 5px;
      &+label{
        margin-left: 45px;
        width: 100px;
      }
    }
  }
  .btn-submit{
    margin-top: 10px;
    width: 240px;
  }
}
