@charset "utf-8";
@import "mixins";
body{
  padding: 0.9rem 0 0.98rem 0;
}
.header{
  text-align: center;
  line-height: 0.9rem;
  color: #fff;
  .title{
    font-size: 0.36rem;
  }
  .right{
    position: absolute;
    top: 0;
    right: 0.2rem;
    font-size: 0.31rem;
  }
}

.cart-empty{
  .empty-top{
    margin-top: 0.9rem;
    border-bottom: 0.2rem solid #f3f3f3;
  }
  .empty-img{
    width: 3.1rem;
    height: 3.44rem;
    margin: 0 auto 0.28rem;
  }
  .top-text{
    font-size: 0.31rem;
    text-align: center;
    color: #555;
    line-height: 0.31rem;
    margin-bottom: 0.28rem;
  }
  .btn-empty{
    display: block;
    margin: 0 auto 0.5rem;
    width: 1.9rem;
    height: 0.6rem;
    text-align: center;
    line-height: 0.6rem;
    background-color: #f43737;
    color: #fff;
    font-size: 0.28rem;
    @include border-radius(0.3rem);
  }
}

.goods-list{
  margin-bottom: 0.98rem;
}
.cart-goods{
  .item-box{
    position: relative;
    width: 100%;
    height: 2.3rem;
  }
  .goods-item{
    position: absolute;
    width: 100%;
    z-index: 20;
    background-color: #fff;
  }
  .icon-select{
    top: 1rem;
  }
  .icon-selected{
    top: 1rem;
  }
  .btn-delete{
    position: absolute;
    z-index: 1;
    right:0;
    top: 0;
    width: 1.5rem;
    height: 2.3rem;
    text-align: center;
    line-height: 2.3rem;
    background-color: #f43737;
    color: #fff;
  }
}
.goods-total{
  position: fixed;
  width: 100%;
  max-width: 750px;
  bottom: 0.98rem;
  height: 0.98rem;
  line-height: 0.98rem;
  border-top: 1px solid #d1d1d1;
  background-color: #f8f8f8;
  padding-left: 0.42rem;
  font-size: 0.31rem;
  z-index: 500;
  color: #222;
  .icon-select{
    top: 0.3rem;
  }
  .icon-selected{
    top: 0.3rem;
  }
  .cart-choose-number{
    float: left;
    margin-left: 0.6rem;
  }
  .cart-total{
    float: left;
    margin-left: 0.2rem;
    span{
      color: #f43737;
    }
  }
  .btn-cart-footer{
    width: 2.64rem;
    height: 0.98rem;
    float: right;
    text-align: center;
    background-color: #9c9c9c;
    color: #fff;
  }
  .btn-active{
    background-color: #f43737;
  }
}

.recommend-content{
  .recommend-top{
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.32rem;
    color: #222;
    text-align: center;
    span{
      position: relative;
    }
  }
  .recommend-list{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .recommend-item{
    float: left;
    width: 3.735rem;
    height: 3.75rem;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    .item-img{
      display: inline-block;
      width: 100%;
      height: 3.75rem;
      text-align: center;
      line-height: 3.75rem;
      img{
        width: 2.8rem;
        height: 2.8rem;
      }
    }
  }
}










