@charset "utf-8";
@import "mixins";

$red-color:#f43737;
%line {
  content: "";
  display: inline-block;
  border-top: 1px solid #222;
  width: 0.64rem;
  margin-bottom: 0.1rem;
}

.classify-content{
  position: fixed;
  width: 100%;
  max-width: 750px;
  top: 0.9rem;
  bottom: 1rem;
  color: #222;
  >div{
    overflow: hidden;
    overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
  }
  .left{
    position: absolute;
    width: 1.6rem;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #f7f7f7;
    .item{
      float: left;
      width: 1.6rem;
      text-align: center;
      height: 1rem;
      line-height: 1rem;
      border-bottom: 1px solid #e6e6e6;
      color: #222;
      font-size: 0.28rem;
      &.active{
        background-color: #fff;
        color: #f43737;
      }
    }
  }
  .right{
    position: absolute;
    width: 5.9rem;
    top: 0;
    bottom: 0;
    left: 1.59rem;
    background-color: #fff;
  }
  .classify-2-box{
    .title{
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 0.28rem;
      margin: 0.35rem 0 0.5rem 0 ;
      span{
        &:before{
          @extend %line;
          margin-right: 0.15rem;
        }
        &:after{
          @extend %line;
          margin-left: 0.15rem;
        }
      }

    }
    .content{
      border-bottom: 0.1rem solid rgb(240,240,240);
    }
    &:last-child{
      .content{
        border-bottom: 0;
      }
    }
    .classify-2-item{
      display: block;
      float: left;
      width: 1.96rem;
      text-align: center;
      margin-bottom: 0.5rem;
      .item-img{
        width: 1.43rem;
        height: 0.93rem;
        margin: 0 auto 0.22rem;
        overflow: hidden;
        img{
          max-height: 100%;
        }
      }
      p{
        font-size: 0.25rem;
        line-height: 0.25rem;
        color: #555;
      }
    }
  }
}

