@charset "utf-8";
@import "mixins";
body{
  padding-bottom: 1rem;
}
/***商品轮播***/
.product-banner{
  position: relative;
}
.product-type{
  position: absolute;
  top: 0;
  left: 0.3rem;
  width: 1rem;
  height: 1rem;
  z-index: 5;
  em{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
  }
}
.icon-OTC-1{
  background-image: url("../images/detail/icon-OTC-1.png");
}
.icon-OTC-2{
  background-image: url("../images/detail/icon-OTC-2.png");
}
.icon-RX{
  background-image: url("../images/detail/icon-RX.png");
}

/***商品轮播  结束***/

/**********商品描述********/
.product-describe{
  color: #888;
  padding-top: 0.38rem;
  .product-name{
    padding-left: 0.3rem;
    font-size: 0.36rem;
    color: #222;
    p{
      float: left;
      max-width: 80%;
      @include text-overflow(1);
    }
  }
  .product-sell{
    padding: 0 0.3rem 0.1rem;
    border-bottom: 1px solid #d2d2d2;

    .product-price{
      float: left;
      color: #ed4529;
      font-size: 0.36rem;
      small{
        font-size: 0.24rem;
      }
    }
    .old-price{
      float: left;
      color: #ccc;
      text-decoration: line-through;
      font-size: 0.28rem;
      margin: 0.08rem 0 0 0.1rem;
    }
    .product-sold{
      float: right;
      position: relative;
      font-size: 0.24rem;
      color: #555;
      margin-top: 0.1rem;
    }
  }
  .product-vender{
    padding: 0.2rem 0.3rem 0;
    .title{
      float: left;
      margin-right: 0.35rem;
      font-size: 0.31rem;
      color: #222;
    }
    .content{
      float: left;
      width: 76%;
      font-size: 0.31rem;
      line-height: 0.5rem;
    }
  }
}
/**********商品描述  结束********/

/**********规格选择********/
.spec{
  position: relative;
  height: 1.1rem;
  line-height: 1.1rem;
  border-top: 0.2rem solid #f0f0f0;
  border-bottom: 0.2rem solid #f0f0f0;
  padding: 0 0.3rem;
  .left{
    float: left;
    margin-right: 0.35rem;
    font-size: 0.31rem;
    color: #222;
  }
  .right{
    float: right;
    position: relative;
    width: 77%;
    font-size: 0.31rem;
    @include text-overflow(1);
    color: #888;
  }
  .icon-arrow-right{
    right: 0;
    top: 0.35rem;
    width: 0.15rem;
  }
}
/**********规格选择  结束********/

/*****商品详情底部*****/
.detail-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 750px;
  height: 0.98rem;
  border-top: 1px solid #ccc;
  background-color: #f8f8f8;
  z-index: 100;
}
.detail-footer-icon{
  float: left;
  position: relative;
  width: 1.11rem;
  height: 0.98rem;
  text-align: center;
  a{
    width: 0.5rem;
    height: 0.5rem;
    top: 0.2rem;
    left: 0.25rem;
  }
  .icon-cart{
    span{
      position: absolute;
      padding: 0 0.1rem;
      background-color: #f43737;
      top: -0.1rem;
      right: -0.2rem;
      color: #fff;
      @include border-radius(0.2rem);
      font-size: 0.24rem;
    }
  }
}
.detail-footer-btn{
  float: right;
  a{
    float: left;
    width: 2.64rem;
    text-align: center;
    height: 0.98rem;
    line-height: 0.98rem;
    color: #fff;
    font-size: 0.36rem;
    position: relative;
  }
  .btn-join-cart{
    background-color: #f39800;
  }
  .btn-buy{
    background-color: #f43737;
  }
}
/*****商品详情底部  结束*****/

/***商品购买规格页**/
.detail-modal{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 750px;
  z-index: 200;
  overflow: hidden;
  top: 100%;
  .modal-mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  .modal-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 1rem;
    background-color: #fff;
  }
  .product-info{
    position: relative;
    height: 1.5rem;
    padding-top: 0.2rem;
    border-bottom: 1px solid #ccc;
  }
  .product-info-left{
    position: absolute;
    width: 2.1rem;
    height: 2.1rem;
    margin: 0 0.5rem;
    top: -1rem;
    text-align: center;
    line-height: 2.1rem;
  }
  .product-info-right{
    float: right;
    width: 4.5rem;
  }
  .product-name{
    font-size: 0.36rem;
    color: #222;
    p{
      float: left;
      max-width: 3.5rem;
      @include text-overflow(1);
    }
  }
  .product-price{
    color: #ed4529;
    font-size: 0.36rem;
    small{
      font-size: 0.24rem;
    }
  }

  .product-operate{
    height: 5rem;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
  .product-spec{/**商品规格**/
    padding: 0.3rem 0.5rem 0;
  }
  .spec-title{
    font-size: 0.31rem;
    color: #222;
  }
  .spec-content{
    margin: 0.1rem 0 0.4rem -0.33rem;
    a{
      float: left;
      padding: 0 0.4rem;
      height: 0.62rem;
      line-height: 0.62rem;
      background-color: #fff;
      border: 1px solid #ccc;
      @include border-radius(0.1rem);
      margin: 0 0 0.1rem 0.33rem;
      &.active{
        color: #f43737;
        border: 1px solid #f43737;
      }
    }
  }
  .purchase-count{
    padding: 0 0.5rem 0.5rem;
    .item-count{
      margin-top: 0.1rem;
    }
  }
}
.btn-submit{
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 750px;
  text-align: center;
  height: 0.98rem;
  line-height: 0.98rem;
  background-color: #f43737;
  color: #fff;
  font-size: 0.36rem;
}
/***商品购买规格页  结束**/





















