@charset "utf-8";
@import "mixins";

.submit-success{
  .bg{
    width: 2.22rem;
    height: 1.82rem;
    margin: 0.9rem auto 0.48rem;
    background: url("../images/tips_right@2x.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .text{
    text-align: center;
    font-size: 0.31rem;
    margin-top: 0.28rem;
    line-height: 0.31rem;
  }
  .btn{
    display: block;
    margin: 0.89rem auto 0;
    width: 2.8rem;
    height: 0.65rem;
    text-align: center;
    line-height: 0.65rem;
    color: #f43737;
    border: 1px solid #f43737;
    font-size: 0.31rem;
    @include border-radius(0.4rem);
  }
}













