@charset "utf-8";
@import "mixins";
.login-container{
  width: 100%;
  max-width: 750px;
  position: fixed;
  top: 0;
  bottom:0;
  overflow-y: scroll;
}

.logo-container{
  margin: 0.5rem 0;
  position: relative;
  .logo{
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    margin: 0 auto;
    background-color: #f2f2f2;
    @include border-radius(50%);
    overflow: hidden;
  }
}
/***登录input样式***/
.login-content{
  margin-top: 0.4em;
  .input-group{
    margin: 0.58rem 0.75rem 0;
    position: relative;
    border-bottom:0;
      label{
      width: 20%;
      padding-left: 0.1rem;
    }
    input{
      border: 0;
      border-bottom: 1px solid #c9c9c9;
      width: 100%;
      outline: none;
      height: 0.8rem;
      font-size: 0.31rem;
    }
  }
}
/***登录input样式  结束***/
.btn-login{
  display: block;
  width: 6rem;
  margin: 1.76rem auto 0;
  text-align: center;
  height: 0.86rem;
  line-height: 0.86rem;
  background-color: #f43737;
  color: #fff;
  letter-spacing: 0.3rem;
  text-indent: 0.3rem;
  font-size: 0.31rem;
  @include border-radius(0.4rem);
}
.btn-apply{
  display: block;
  width: 6rem;
  margin: 0.4rem auto 0;
  text-align: center;
  height: 0.86rem;
  line-height: 0.86rem;
  background-color: #3397ff;
  color: #fff;
  font-size: 0.32rem;
  @include border-radius(0.4rem);
}

.icon-clear{
  width: 0.3rem;
  top: 0.2rem;
  right: 0.6rem;
}
.icon-pwd-show{
  top: 0.2rem;
  right: 0;
}

































