@charset "utf-8";
@import "mixins";
body{
  padding: 2.1rem 0 0.98rem;
}
.address-choose{
  position: fixed;
  top: 0;
  width: 89%;
  max-width: 750px;
  height: 1rem;
  padding: 0.55rem 0.42rem;
  background-color: #fff;
  z-index: 500;
  border-bottom: 1px solid #f0f0f0;
  .address-user{
    font-size: 0.31rem;
    line-height: 0.31rem;
    color: #222;
    font-weight: bold;
    margin-bottom: 0.28rem;
  }
  .address-name{
    margin-right: 0.2rem;
  }
  .address-phone{
    margin-right: 0.2rem;
  }
  .address-default{
    display: inline-block;
    padding: 0 0.02rem;
    height: 0.34rem;
    text-align: center;
    line-height: 0.32rem;
    border: 1px solid #f43737;
    color: #f43737;
    font-size: 0.24rem;
    @include border-radius(0.05rem);
  }
  .icon-arrow-right{
    width: 0.2rem;
    right: 0.42rem;
    top: 0.8rem;
  }
  .address-detail{
    position: relative;
    width: 6rem;
    @include text-overflow(1);
  }
}
.goods-list{
  @include border-division(top);
}
.goods-item {
  .goods-img{
    margin-left: 0;
  }
  .goods-text{
    width: 4.4rem;
  }
}
.goods-total{
  .total-widget{
    position: relative;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.28rem;
    color: #222;
    padding: 0 0.42rem;
    overflow: hidden;
    .title{
      float: left;
    }
    .content{
      float: right;
    }
    border-bottom: 1px solid #e2e2e2;
  }
  .icon-arrow-right{
    width: 0.15rem;
    right: 0.42rem;
    top: 0.22rem;
  }
}
.order-remark{
  float: right;
  text-align: right;
  width: 5rem;
  height: 0.89rem;
  line-height: 0.9rem;
  border: 0;
  outline: none;
  font-size: 0.28rem;
  margin-right: 0.25rem;
}

.footer{
  background-color: #f9f9f9;
  line-height: 0.98rem;
  .total{
    padding-left: 0.42rem;
    float: left;
    font-size: 0.31rem;
    color: #222;
    span{
      color: #f43737;
    }
  }
  .btn-submit{
    float: right;
    width: 3.2rem;
    height: 0.98rem;
    text-align: center;
    line-height: 0.98rem;
    background-color: #f43737;
    color: #fff;
  }
}








