@charset "utf-8";
@import "mixins";

.input-group{
  margin-right: 0;
  input{
    width: 60%;
    margin-right: 0.9rem;
    text-align: right;
  }
}
.btn-submit{
  width: 6.1rem;
  height: 0.8rem;
  background-color: #f43737;
  color: #fff;
  text-align: center;
  line-height: 0.8rem;
  @include border-radius(0.4rem);
  margin: 1rem auto 0;
}











