@charset "utf-8";
@import "mixins";
.apply-account-container{
  .top{
    background-color: #d7d7d7;
    font-size: 0.14rem;
  }
  li{
    float: left;
    width: calc(100%/3);
    height: 0.25rem;
    line-height: 0.25rem;
    text-align: center;
    position: relative;
    &.active{
      color: #ff0066;
    }
    &:after{
      content: "";
      position: absolute;
      right: 0;
      top: 0.02rem;
      width: 0.1rem;
      height: 0.2rem;
      @include bg-img("../images/icon-arrow-right.png",center,contain);
    }
    &:last-child:after{
      content: "";
      display: none;
    }
  }
}
.apply-account-content{
  position: fixed;
  width: 100%;
  max-width: 750px;
  top: 0.25rem;
  bottom: 0;
  overflow-y: scroll;
  .data-content{
    height: 100%;
  }
  //企业信息
  .btn-submit{
    letter-spacing: 0.15rem;
    text-indent: 0.15rem;
  }
  //完成
  .complete{
    padding-top: 1rem;
    >p{
      text-align: center;
    }
  }
  .complete-content{
    width: 1rem;
    height: 1rem;
    margin: 0 auto 0.4rem;
    @include border-radius(50%);
    border: 1px solid #333;
    p{
      font-family: 'Arial Normal', 'Arial';
      font-weight: 400;
      font-style: normal;
      font-size: 0.7rem;
      color: #333333;
      text-align: center;
      line-height: 1rem;
    }
  }
}














