@charset "UTF-8";
/*******base CSS**********/
body, div, dl, dt, dd, ul, ol, li, span, a, h1, h2, h3, h4, h5, h6, pre, form, fieldset, label, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldest, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

capation, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

a {
  text-decoration: none;
  color: #333; }
  a:hover {
    cursor: pointer; }

i, em {
  font-style: normal; }

.after:after {
  content: "";
  display: block;
  clear: both; }

.hide {
  display: none; }

.show {
  display: block; }

.fl {
  float: left; }

.fr {
  float: right; }

/******* common CSS*******************/
html {
  overflow-x: hidden;
  font-size: 0.16rem; }

body {
  overflow-x: hidden; }

@font-face {
  font-family: "PingFang";
  src: url("../font/PingFang Regular.ttf"); }
body {
  font-family: "PingFang";
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 0.14rem; }

.center-elm {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle; }

.color-red {
  color: #ed4529; }

/*消除input type为number的上下角标 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  /*不使用默认样式右边小XX*/ }

/*改变多行文本域的默认字体*/
textarea {
  font-family: PingFang !important; }

/*placeholder文字颜色统一*/
input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  color: #a5a5a5;
  font-weight: 200; }

/*jquery weui 地址选择器 rem问题复写*/
.weui-picker-container {
  left: auto;
  right: auto;
  max-width: 750px; }
  .weui-picker-container .weui-picker-modal {
    height: 3rem;
    font-size: 0.16rem; }
    .weui-picker-container .weui-picker-modal .toolbar .toolbar-inner {
      height: 0.4rem; }
      .weui-picker-container .weui-picker-modal .toolbar .toolbar-inner .title {
        height: 0.4rem;
        line-height: 0.4rem;
        font-size: 0.16rem; }
      .weui-picker-container .weui-picker-modal .toolbar .toolbar-inner .picker-button {
        height: 0.3rem;
        line-height: 0.4rem;
        font-size: 0.16rem; }
    .weui-picker-container .weui-picker-modal .picker-modal-inner {
      height: 3rem; }
      .weui-picker-container .weui-picker-modal .picker-modal-inner .picker-items-col {
        text-align: center; }
    .weui-picker-container .weui-picker-modal .picker-items {
      font-size: 0.16rem; }

/*jquery weui 地址选择器 rem问题复写  结束*/
/***swiper 轮播导航原点***/
.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ed4529; }

/***swiper 轮播导航原点  结束***/
/****公用header头部****/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 750px;
  height: 0.45rem;
  background-color: #fff;
  z-index: 1000; }

.icon-QR-code, .icon-news, .icon-search-header {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  top: 0.1rem; }

.icon-QR-code {
  background-image: url("../images/icon-QR-code.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain; }

.icon-news {
  background-image: url("../images/icon-news.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain; }

.icon-left {
  left: 0.1rem; }

.icon-right {
  right: 0.1rem; }

.icon-search-header {
  top: 0.05rem;
  left: 0.1rem;
  background-image: url("../images/icon-search-header.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain; }

.header-search-box {
  width: 2.75rem; }
  .header-search-box input {
    width: 100%;
    height: 0.35rem;
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding-left: 0.425rem; }

/********header头部 结束*******/
/*****footer 底部menu****/
.footer {
  position: fixed;
  width: 100%;
  max-width: 750px;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #d2d2d2;
  z-index: 1000; }
  .footer li {
    float: left;
    width: 25%;
    height: 0.5rem;
    text-align: center; }
    .footer li a {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%; }
    .footer li img {
      max-width: 25%;
      margin-top: 0.05rem; }
    .footer li p {
      position: absolute;
      bottom: 0.03rem;
      width: 100%;
      font-size: 0.13rem;
      color: #333; }
    .footer li.active p {
      color: #ed4529; }

/*****footer 底部menu 结束****/
/****推荐商品***/
.product-recommend .recommend-title {
  line-height: 0.4rem;
  text-align: center;
  font-size: 0.13rem;
  color: #333; }
.product-recommend .recommend-content {
  border-left: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2; }

.icon-recommend {
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  margin-bottom: -0.04rem;
  background-image: url("../images/icon-recommend.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain; }

/****推荐商品  结束***/
/***公用商品样式-1  ***/
.product-item {
  float: left;
  width: 50%;
  height: 2.1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2; }
  .product-item a {
    display: inline-block;
    width: 100%;
    height: 100%; }
  .product-item .product-img {
    width: 80%; }
  .product-item .product-describe {
    text-align: left;
    padding: 0 0.1rem;
    color: #333;
    max-height: 0.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis; }
  .product-item .product-price {
    color: #ed4529;
    text-align: left;
    padding-left: 0.1rem; }
  .product-item .btn-login-hide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .product-item .btn-login-hide p {
      position: absolute;
      width: 100%;
      bottom: 0;
      color: #ff6666;
      background-color: #fff;
      text-align: left;
      padding-left: 0.1rem;
      font-size: 0.14rem;
      line-height: 0.4rem; }

/***公用商品样式-1  结束***/
/***公用商品样式-2  ***/
.goods-item {
  position: relative;
  height: 1.1rem;
  padding: 0.1rem 0.1rem 0 0.2rem;
  margin-left: 0.2rem; }
  .goods-item .icon-select {
    top: 0.45rem; }
  .goods-item .goods-info {
    height: 100%; }
  .goods-item .goods-img {
    float: left;
    width: 0.85rem;
    margin-right: 0.05rem; }
  .goods-item .goods-text {
    float: left;
    padding-top: 0.1rem;
    width: 2rem;
    height: 100%;
    position: relative; }
    .goods-item .goods-text > p {
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis; }
    .goods-item .goods-text .goods-specification {
      margin-top: 0.1rem; }
    .goods-item .goods-text .goods-price {
      position: absolute;
      bottom: 0.2rem;
      color: #ed4529; }
  .goods-item .goods-count {
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    font-size: 0.16rem; }

/***公用商品样式-2  结束***/
/***底部提交按钮样式***/
.btn-submit {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 750px;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  color: #fff;
  background-color: #ed4529;
  font-size: 0.16rem; }

/***底部提交按钮样式  结束***/
/***公用icon***/
.icon-shop, .icon-arrow-right, .icon-arrow-top, .icon-top-left, .icon-news-white, .icon-set-white, .icon-my-collect, .icon-my-address, .icon-set, .icon-select, .icon-time, .icon-add-cart, .icon-detail-pay, .icon-detail-cancel, .icon-detail-send, .icon-detail-take, .icon-detail-appr, .icon-detail-complete, .icon-server-ev, .icon-server-drawback, .icon-atc, .icon-atced {
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain; }

.icon-shop {
  left: 0.2rem;
  top: 0.1rem;
  background-image: url("../images/icon-shop.png"); }

.icon-arrow-right {
  background-image: url("../images/icon-arrow-right-gray.png"); }

.icon-arrow-top {
  background-image: url("../images/icon-arrow-top.png"); }

.icon-top-left {
  top: 0;
  left: 0;
  background-image: url("../images/icon-top-left.png"); }

.icon-news-white {
  background-image: url("../images/personal/icon-news-white.png"); }

.icon-set-white {
  background-image: url("../images/personal/icon-set-white.png"); }

.icon-my-collect {
  top: 0.09rem;
  left: 0.1rem;
  background-image: url("../images/personal/icon-my-collect.png"); }

.icon-my-address {
  top: 0.09rem;
  left: 0.1rem;
  background-image: url("../images/personal/icon-my-address.png"); }

.icon-set {
  top: 0.09rem;
  left: 0.1rem;
  background-image: url("../images/personal/icon-set.png"); }

.icon-set-help {
  background-image: url("../images/personal/icon-set-help.png"); }

.icon-set-suggest {
  background-image: url("../images/personal/icon-set-suggest.png"); }

.icon-set-agreement {
  background-image: url("../images/personal/icon-set-agreement.png"); }

.icon-set-about {
  background-image: url("../images/personal/icon-set-about.png"); }

.icon-set-version-info {
  background-image: url("../images/personal/icon-set-version-info.png"); }

.icon-set-update {
  background-image: url("../images/personal/icon-set-update.png"); }

.icon-select {
  top: 0.1rem;
  left: 0;
  background-image: url("../images/icon-select-false.png"); }

.icon-select-true {
  background-image: url("../images/icon-select-true.png"); }

.icon-time {
  background-image: url("../images/icon-time.png"); }

.icon-add-cart {
  width: 0.35rem;
  height: 0.35rem;
  bottom: 0.2rem;
  right: 0.2rem;
  background-image: url("../images/personal/icon-add-cart.png"); }

/***订单详情top icons***/
.icon-detail-pay {
  background-image: url("../images/personal/detail-pay.png"); }

.icon-detail-cancel {
  background-image: url("../images/personal/detail-cancel.png"); }

.icon-detail-send {
  background-image: url("../images/personal/detail-send.png"); }

.icon-detail-take {
  background-image: url("../images/personal/detail-take.png"); }

.icon-detail-appr {
  background-image: url("../images/personal/detail-appr.png"); }

.icon-detail-complete {
  background-image: url("../images/personal/detaile-complete.png"); }

.icon-server-ev {
  background-image: url("../images/personal/service-ev.png"); }

.icon-server-drawback {
  background-image: url("../images/personal/service-drawback.png"); }

.icon-atc {
  width: 0.4rem;
  height: 0.4rem;
  top: 0;
  right: 0;
  background-image: url("../images/personal/icon-authentication.png"); }

.icon-atced {
  width: 0.4rem;
  height: 0.4rem;
  top: 0;
  right: 0;
  background-image: url("../images/personal/icon-authenticated.png"); }

/***公用icon  结束***/
/***登录input样式***/
.login-content {
  margin-top: 0.2rem; }
  .login-content .input-group {
    margin: 0 0.1rem 0.35rem;
    position: relative; }
    .login-content .input-group label {
      width: 20%;
      padding-left: 0.1rem; }
    .login-content .input-group input {
      border: 1px solid #797979;
      outline: none;
      width: 100%;
      padding-left: 20%;
      height: 0.4rem;
      font-size: 0.14rem; }

/***登录input样式  结束***/
/***添加地址公用样式***/
.add-address {
  color: #333; }
  .add-address .input-group {
    border-bottom: 1px solid #d2d2d2;
    height: 0.5rem;
    line-height: 0.5rem;
    padding-left: 0.2rem;
    font-size: 0.16rem; }
    .add-address .input-group input {
      float: right;
      margin-right: 0.3rem;
      text-align: left;
      outline: none;
      width: 2.5rem;
      height: 0.49rem;
      border: 0;
      padding-left: 0.2rem;
      font-size: 0.14rem; }
  .add-address .textarea-group {
    padding: 0.2rem 0.2rem 0;
    font-size: 0.16rem; }
    .add-address .textarea-group textarea {
      width: 100%;
      padding-top: 0.05rem;
      border: 0;
      height: 0.6rem;
      outline: none;
      font-size: 0.14rem; }

.set-default-address {
  text-align: center;
  position: relative;
  width: 1.5rem;
  height: 0.3rem;
  line-height: 0.25rem;
  margin: 0 auto; }
  .set-default-address .icon-select {
    top: 0.01rem; }
  .set-default-address input {
    width: 100%;
    height: 100%;
    opacity: 0; }
  .set-default-address label {
    font-size: 0.14rem;
    margin-left: 0.1rem; }

/***添加地址公用样式  结束***/
/***我的资料样式***/
.data-content .input-group {
  height: 0.4rem;
  line-height: 0.4rem;
  border-bottom: 1px solid #d2d2d2;
  padding: 0 0.1rem;
  position: relative; }
  .data-content .input-group label {
    display: inline-block;
    float: left;
    width: 20%; }
  .data-content .input-group input {
    width: 60%;
    border: 0;
    text-align: right;
    outline: none;
    font-size: 0.16rem;
    float: right;
    line-height: 0.38rem;
    margin-right: 0.3rem; }
    .data-content .input-group input.apply-code {
      float: left;
      text-align: center;
      width: 40%; }
  .data-content .input-group .btn-get-code {
    position: absolute;
    right: 0;
    width: 30%;
    text-align: center;
    height: 100%;
    background-color: #00cc66;
    color: #fff; }
  .data-content .input-group .icon-arrow-right {
    right: 0.1rem;
    top: 0.1rem;
    width: 0.08rem; }

/***我的资料样式  结束***/
/***资质文件***/
.qualification {
  margin-bottom: 0.5rem; }

.qualification-item {
  float: left;
  width: 50%;
  margin-top: 0.2rem; }
  .qualification-item .item-title {
    text-align: center;
    font-size: 0.13rem; }
  .qualification-item .item-img {
    width: 90%;
    margin: 0 auto;
    height: 1.2rem;
    position: relative;
    overflow: hidden; }
    .qualification-item .item-img input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 100; }
    .qualification-item .item-img img {
      width: 100%;
      max-width: 100%;
      z-index: 0; }

/***资质文件  结束***/

/*# sourceMappingURL=common.css.map */
