@charset "utf-8";
@import "mixins";
body{
  padding: 0.45rem 0 0.51rem;
}
/*******home轮播**********/
.home-banner{
  .swiper-slide{
    overflow: hidden;
    img{
      max-width: 100%;
    }
  }
}
/*******home轮播 结束**********/

/*******商品导航****/
.home-nav{
  border-bottom: 1px solid #d2d2d2;
  li{
    float: left;
    width: 25%;
    text-align: center;
    height: 0.6rem;
    padding-top: 0.05rem;
    a{
      display: inline-block;
      font-size: 0.12rem;
      em{
        display: inline-block;
        width: 0.35rem;
        height: 0.35rem;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: contain;
        background-size: contain;
      }
      p{
        margin-top: -0.05rem;
      }
    }
  }
}

.icon-qualification{
  background-image: url("../images/home/icon-qualification.png");
}
.icon-new-product{
  background-image: url("../images/home/icon-new-product.png");
}
.icon-promotion-product{
  background-image: url("../images/home/icon-promotion-product.png");
}
.icon-all-product{
  background-image: url("../images/home/icon-all-product.png");
}
/*******商品导航 结束****/

/****商品展示****/
.product-show-container{
  .product-type{
    height: 0.3rem;
    line-height: 0.3rem;
    padding-left: 0.1rem;
    font-size: 0.13rem;
  }
  .product-list{
    overflow-y: hidden;
    height: 1.3rem;
    .list-scroll-container{
      height: 1.45rem;
      overflow-x: scroll;
    }
  }
}
.icon-more{
  float: right;
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  margin: 0.05rem 0.1rem 0 0;
  @include bg-img("../images/home/icon-more.png",center,contain);
}
.product-list-content{
  height: 1.3rem;
  border-top: 1px solid #d2d2d2;
}
.product-item{
  width: 1.2rem;
  height: 1.3rem;
  &:first-child{
    border-left: 1px solid #d2d2d2;
  }
  a{
    .product-img{
      max-width: 0.88rem;
    }
    .product-describe{
      font-size: 0.14rem;
      height: 0.2rem;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    .product-price{
      text-align: center;
    }
  }
  .btn-login-hide{
    p{
      text-align: center;
      line-height: 0.2rem;
    }
  }
}
/****商品展示 结束****/

















