@charset "utf-8";
@import "mixins";

.news-container{
  .news-item{
    margin-top: 0.1rem;
  }
  .news-time{
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding-left: 0.2rem;
    line-height: 0.2rem;
    @include text-overflow(1);
  }
  .news-content{
    display: block;
    width: 90%;
    margin: 0.05rem auto 0;
    border: 1px solid #d2d2d2;
    height: 1.2rem;
    @include border-radius(0.03rem);
    .left{
      float: left;
      width: 25%;
      text-align: center;
      line-height: 1.18rem;
      overflow: hidden;
    }
    .right{
      float: left;
      width: 75%;
      padding: 0.1rem;
      .title{
        @include text-overflow(1);
        line-height: 0.3rem;
      }
      .describe{
        margin-top: 0.1rem;
        @include text-overflow(2);
      }
    }
  }
  .icon-time{
    width: 0.15rem;
    height: 0.15rem;
    left: 0;
    top: 0.02rem;
  }
}
