@charset "UTF-8";
body {
  padding-bottom: 0.4rem; }

/***订单地址***/
.top-bg-img {
  width: 100%;
  height: 0.05rem; }
  .top-bg-img img {
    vertical-align: top; }

.address-content {
  position: relative;
  padding: 0.1rem 0.5rem 0.1rem 0.8rem; }

.address-name {
  position: absolute;
  left: 0.2rem;
  top: 0.1rem;
  font-size: 0.16rem;
  width: 0.6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis; }

.address-default {
  position: absolute;
  left: 0.2rem;
  bottom: 0.2rem;
  color: #ed4529;
  padding: 0 0.02rem;
  border: 1px solid #ed4529;
  -webkit-border-radius: 0.03rem;
  -moz-border-radius: 0.03rem;
  border-radius: 0.03rem; }

.address-detail {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis; }

.icon-arrow-right {
  right: 0.2rem;
  top: 0.4rem; }

/***订单地址  结束***/
/***订单内容***/
/***订单店铺***/
.order-store {
  border-top: 0.1rem solid #f1f1f1; }
  .order-store .store-top {
    position: relative;
    border-bottom: 1px solid #d2d2d2;
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 0.5rem; }
  .order-store .goods-item {
    border-bottom: 1px solid #d2d2d2;
    margin: 0; }

.img-store {
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  top: 0.1rem;
  left: 0.2rem; }
  .img-store img {
    vertical-align: top; }

/***订单店铺  结束***/
.order-column {
  border-top: 0.1rem solid #f1f1f1; }

.order-row {
  height: 0.4rem;
  line-height: 0.4rem;
  border-bottom: 1px solid #d2d2d2;
  position: relative; }
  .order-row .title {
    float: left;
    padding-left: 0.2rem; }
  .order-row input {
    float: right;
    text-align: right;
    border: 0;
    width: 2.5rem;
    margin-right: 0.4rem;
    height: 0.39rem;
    outline: none; }
  .order-row .icon-arrow-right {
    width: 0.07rem;
    top: 0.1rem; }
  .order-row .total {
    float: right;
    margin-right: 0.2rem;
    font-size: 0.16rem;
    color: #ed4529; }

/***订单内容  结束***/
/***订单提交底部***/
.order-submit-footer {
  position: fixed;
  width: 100%;
  max-width: 750px;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
  height: 0.4rem;
  line-height: 0.4rem;
  border-top: 1px solid #d2d2d2;
  font-size: 0.16rem; }
  .order-submit-footer .order-total {
    float: left;
    width: 70%;
    padding-left: 0.1rem; }
    .order-submit-footer .order-total span {
      color: #ed4529; }
  .order-submit-footer .btn-order-submit {
    float: left;
    width: 30%;
    text-align: center;
    background-color: #ed4529;
    color: #fff; }

/***订单提交底部  结束***/
/***weui弹出页***/
.open-popup {
  display: block; }

.weui-popup__container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  z-index: 100; }
  .weui-popup__container .weui-popup__modal {
    background-color: #fff;
    padding: 0.6rem 0; }

.popup-top {
  position: fixed;
  width: 100%;
  max-width: 750px;
  top: 0.1rem;
  text-align: center;
  height: 0.4rem;
  line-height: 0.4rem; }
  .popup-top a {
    display: inline-block;
    width: 85%;
    border: 1px solid #ed4529;
    color: #ed4529;
    text-align: center;
    font-size: 0.16rem;
    -webkit-border-radius: 0.03rem;
    -moz-border-radius: 0.03rem;
    border-radius: 0.03rem; }

.popup-content {
  position: fixed;
  width: 100%;
  max-width: 750px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0.6rem;
  bottom: 0.5rem;
  border-top: 1px solid #d2d2d2; }
  .popup-content .address-content {
    border-bottom: 1px solid #d2d2d2; }

.popup-bottom {
  position: fixed;
  width: 100%;
  max-width: 750px;
  bottom: 0;
  text-align: center;
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: #ed4529;
  color: #fff; }

.add-address .popup-content {
  top: 0; }
.add-address .popup-bottom {
  border-top: 1px solid #d2d2d2; }
  .add-address .popup-bottom a {
    float: left;
    width: 50%;
    text-align: center; }
  .add-address .popup-bottom a.close-popup {
    background-color: #fff; }
  .add-address .popup-bottom a.open-popup {
    background-color: #ed4529;
    color: #fff; }

/*# sourceMappingURL=order-submit.css.map */
