@charset "utf-8";
@import "mixins";

.payment-item{
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.16rem;
  color: #333;
  border-bottom: 1px solid #d2d2d2;
  padding: 0 0.1rem;
  a{
    display: block;
    height: 100%;
    position: relative;
    padding-left: 0.5rem;
  }
  em{
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    @include bg-img("../images/payment/icon-WeChat-pay.png",center,contain);
    top: 0.05rem;
    left: 0;
  }
  .icon-WeChat-pay{
    background-image: url("../images/payment/icon-WeChat-pay.png");
  }
  .icon-alipay{
    background-image: url("../images/payment/icon-alipay.png");
  }
  .icon-UnionPay{
    background-image: url("../images/payment/icon-UnionPay.png");
  }
  .icon-cash{
    background-image: url("../images/payment/icon-cash.png");
  }
}

















