@charset "utf-8";

@import "mixins";

.header{
  background-color: transparent;
  >a{
    top: 0.1rem;
  }
}
//头像 名字
.personal-top{
  width: 100%;
  height: 1.6rem;
  text-align: center;
  @include bg-img("../images/personal/personal-top-bg.png",center,100% 100%);
  .personal-img{
    display: inline-block;
    margin-top: 0.5rem;
    width: 0.6rem;
    height: 0.6rem;
    @include border-radius(50%);
    overflow: hidden;
  }
  .personal-name{
    color: #fff;
  }
}

//我的订单
.personal-order{
  @include border-division("top");
  height: 0.7rem;
  .order-item{
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    padding-top: 0.1rem;
    em{
      display: inline-block;
      width: 0.25rem;
      height: 0.25rem;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: contain;
      background-size: contain;
      position: relative;
    }
  }
  .icon-sup{
    position: absolute;
    padding: 0 0.04rem;
    background-color: #ed4529;
    color: #fff;
    @include border-radius(50%);
    top: -0.05rem;
    right: -0.05rem;
    font-size: 0.12rem;
  }
}
.icon-order-all{
  background-image: url("../images/personal/icon-order-all.png");
}
.icon-order-pay{
  background-image: url("../images/personal/icon-order-pay.png");
}
.icon-order-send{
  background-image: url("../images/personal/icon-order-send.png");
}
.icon-order-transport{
  background-image: url("../images/personal/icon-order-transport.png");
}
.icon-order-service{
  background-image: url("../images/personal/icon-order-service.png");
}

.personal-widget{
  @include border-division("top");
  .widget-item{
    padding-left: 0.4rem;
    height: 0.4rem;
    position: relative;
  }
  .item-content{
    position: relative;
    color: #333;
    font-size: 0.15rem;
    display: block;
    line-height: 0.39rem;
    border-bottom: 1px solid #d2d2d2;
  }

  .icon-arrow-right{
    right: 0.2rem;
    width: 0.08rem;
    top: 0.1rem;
  }
}
































