@charset "utf-8";
@import "mixins";

.collection-container{
  .weui-cells{
    margin-top: 0;
    font-size: 0.14rem;
    .weui-cell:before{
      left: 0;
    }
    .weui-cell_swiped>.weui-cell__ft{
      background-color: #ed4529;
      .weui-swiped-btn{
        position: absolute;
        height: 100%;
        right: -0.1rem;
        line-height: 1.1rem;
        padding: 0 2em;
        width: 6em;
      }
    }
  }

  .goods-item{
    margin-left: 0;
  }
  .goods-text{
    width: 2.5rem;
  }
}






