@charset "utf-8";
@import "mixins";

.header{
  line-height: 0.45rem;
  border-bottom: 1px solid #d2d2d2;
  .order-type{
    float: left;
    width: 20%;
    text-align: center;
    &.active{
      color: #ed4529;
      font-size: 0.16rem;
    }
  }
}

.order-list{
  margin-top: 0.46rem;
  .list-store{
    @include border-division("top");
    >div{
      border-bottom: 1px solid #d2d2d2;
    }
    .order-goods{
      border-bottom: 0;
    }
  }
  .order-title{
    position: relative;
    padding-left: 0.5rem;
    height: 0.4rem;
    line-height: 0.4rem;
    .state{
      float: right;
      margin-right: 0.2rem;
      color: #ed4529;
    }
  }
  .goods-item{
    border-bottom: 1px solid #d2d2d2;
    margin-left: 0;
  }
  .order-total{
    text-align: right;
    padding-right: 0.2rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.16rem;
  }
  .order-operate{
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: right;
  }
  .btn-operate{
    display: inline-block;
    width: 0.8rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    background-color: #ed4529;
    color: #fff;
    margin-right: 0.1rem;
    @include border-radius(0.03rem);
  }
}

.order-empty{
  margin-top: 0.46rem;
  .empty-img{
    height: 1rem;
    width: 35%;
    margin: 1rem auto 0.2rem;
    @include bg-img("../images/order/order-empty.png",center,contain);
  }
  p{
    text-align: center;
  }
}































