@charset "utf-8";
@import "mixins";

.set-content{
  .set-item{
    display: block;
    height: 0.5rem;
    line-height: 0.5rem;
    border-bottom: 1px solid #d2d2d2;
    padding-left: 0.5rem;
    color: #333;
    position: relative;
    .icon-set{
      top: 0.15rem;
      left: 0.2rem;
    }
    .icon-arrow-right{
      right: 0.2rem;
      top: 0.15rem;
      width: 0.08rem;
    }
  }
  .update-prompt{
    float: right;
    color: #ed4529;
    margin-right: 0.5rem;
  }
}



















































